/AN*
/hists/batch/*
/hists/*.root
/plots/closure/*
/plots/fits/*
/plots/egtf/*
/condor/err/*
/condor/log/*
/condor/out/*
/condor/diphoton-env
/test/*
/analysis/metadata/cache/*
/analysis/metadata/filelists/*
*.txt
*.json
__pycache__/
*.pyc
*.code-workspace
.DS_Store
._.DS_Store
*.tar